<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<?define DockSample_TargetDir=$(var.DockSample.TargetDir)?>
	<?define KockpitWebService_TargetDir=$(var.KockpitWebService.TargetDir)?>
	<?define LinuxInstaller_TargetDir=$(var.LinuxInstaller.TargetDir)?>
	<Product Id="*" Name="Kockpit Studio" Language="1033" Version="1.0.0.0" Manufacturer="Kockpit Analytics" UpgradeCode="a7679301-2dfd-42cc-b198-aa173b8d724d">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" InstallPrivileges="elevated" AdminImage="yes" />

		<!--<UIRef Id="WixUI_Minimal" />-->

		<Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
		<UIRef Id="WixUI_InstallDir" />
		
		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />
		
		<!-- Add installer icon -->
		<Icon Id="ShortCutIcon" SourceFile="$(var.ProjectDir)\Logo.ico" />
		<Property Id="ARPPRODUCTICON" Value="ShortCutIcon" />
		<Property Id="SOURCEDIRECTORY" Value="$(var.KockpitWebService_TargetDir)" />
		<Property Id="LINUXSOURCEDIRECTORY" Value="$(var.LinuxInstaller_TargetDir)" />

		<!--<WixVariable Id="WixUIBannerBmp" Value="Images\"/>
		<WixVariable Id="WixUIDialogBmp" Value="Images\"/>-->
		<WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)\License.rtf" />
		

		<Feature Id="ProductFeature" Title="Kockpit Studio" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
			<ComponentGroupRef Id="Images_files" />
			<ComponentGroupRef Id="zh_CN_files" />
			<ComponentGroupRef Id="ja_JP_files" />
			<ComponentGroupRef Id="ru_RU_files" />
			<ComponentGroupRef Id="swiftshader_files" />
			<ComponentGroupRef Id="AppData_files" />
			<!--<ComponentGroupRef Id="amd64_files" />
			<ComponentGroupRef Id="x86_files" />-->
			<ComponentGroupRef Id="WebResourceComponents" />
			<ComponentGroupRef Id="LinResourceComponents" />
			<ComponentRef Id="ApplicationShortcut" />
			<!--<ComponentRef Id="ApplicationShortcutDesktop" />-->
			<!--<ComponentRef Id="ApplicationResource" />-->
			<ComponentGroupRef Id="ComponentGroupDesktopShortcut" />
			<ComponentGroupRef Id="lib_win32_x86_files" />
			<ComponentGroupRef Id="lib_win32_x64_files" />
			<ComponentGroupRef Id="lib_alpine_x64_files" />
			<ComponentGroupRef Id="lib_alpine.3.9_x64_files" />
			<ComponentGroupRef Id="lib_debian_arm64_files" />
			<ComponentGroupRef Id="lib_debian.9_x64_files" />
			<ComponentGroupRef Id="lib_fedora_x64_files" />
			<ComponentGroupRef Id="lib_linux_x64_files" />
			<ComponentGroupRef Id="lib_osx_files" />
			<ComponentGroupRef Id="lib_rhel_x64_files" />
			<ComponentGroupRef Id="lib_ubuntu.16.04_arm64_files" />
			<ComponentGroupRef Id="lib_ubuntu.18.04_x64_files" />
		</Feature>

		<DirectoryRef Id="ApplicationProgramsFolder">
			<Component Id="ApplicationShortcut" Guid="41cdba80-edb9-4d71-8157-95527beb73a2">
				<Shortcut Id="ApplicationStartMenuShortcut" Name="Kockpit Studio" Description="Description of project" Target="[INSTALLFOLDER]DockSample.exe" WorkingDirectory="INSTALLFOLDER" Icon="ShortCutIcon" />
				<RemoveFolder Id="CleanUpShortCut" Directory="ApplicationProgramsFolder" On="uninstall" />
				<RegistryValue Root="HKCU" Key="Software\Kockpit Analytics\Kockpit Studio\ProgramMenuShortcut" Name="installed" Type="integer" Value="1" KeyPath="yes" />
			</Component>
		</DirectoryRef>

		<!--<DirectoryRef Id="DesktopFolder">
			<Component Id="ApplicationShortcutDesktop" Guid="6d7976ce-e5ed-11ea-adc1-0242ac120002">
				<Shortcut Id="ApplicationDesktopShortcut" Name="Kockpit Studio" Directory="DesktopFolder" Description="Description of project" Target="[INSTALLFOLDER]DockSample.exe" WorkingDirectory="INSTALLFOLDER" Icon="ShortCutIcon" />
				<RemoveFile Id="remove_shortcut" Name="Kockpit Studio" On="uninstall" />
				<RemoveFolder Id="DesktopFolder" Directory="DesktopFolder" On="uninstall" />
				<RegistryValue Root="HKCU" Key="Software\Kockpit Analytics\Kockpit Studio\DesktopShortcut" Name="installed" Type="integer" Value="1" KeyPath="yes" />
			</Component>
		</DirectoryRef>-->

		<!--<DirectoryRef Id="LINUX">
			<Component Id="ApplicationResource" Guid="A7C42303-1D77-4C70-8D5C-0FD0F9158EB4">
				<RemoveFile Id="remove_resources_files" Name="LINUX" Directory="LINUX" On="uninstall" />
				<RemoveFolder Id="remove_resources" Directory="RESOURCEFOLDER" On="uninstall" />
				<CopyFile Id="SomeId" SourceProperty="SOURCEDIRECTORY" DestinationDirectory="WEBSERVICE" SourceName="*" />
				<CopyFile Id="NewSomeId" SourceProperty="LINUXSOURCEDIRECTORY" DestinationDirectory="LIINSTALLER" SourceName="*" />
			</Component>
		</DirectoryRef>-->

		<InstallExecuteSequence>
			<Custom Action="PackageInstallCustomAction" Before="InstallFinalize">NOT Installed</Custom>
			<!--<Custom Action="GetMachineCustomAction" Before="InstallFinalize">NOT Installed</Custom>-->
		</InstallExecuteSequence>
		<InstallUISequence>
			<Custom Action="RunPreviledgeCustomAction" Before="PrepareDlg">NOT Installed</Custom>
		</InstallUISequence>
		
		<!--Run as administrator-->
		<Property Id="MSIUSEREALADMINDETECTION" Value="1" />
		<!--<Condition Message="Installation requires Administrator privileges">
			<![CDATA[Privileged]]>
		</Condition>-->

	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFiles64Folder">
				<Directory Id="INSTALLFOLDER" Name="Kockpit Studio">
				  <Directory Id="Images" Name="Images" />
				  <Directory Id="ja_JP" Name="ja-JP" />
				  <Directory Id="ru_RU" Name="ru-RU" />
				  <Directory Id="zh_CN" Name="zh-CN" />
				  <Directory Id="AppData" Name="AppData" />
				  <Directory Id="swiftshader" Name="swiftshader" />
				  <Directory Id="NativeBinaries" Name="NativeBinaries">
					  <Directory Id="amd64" Name="amd64" />
					  <Directory Id="x86" Name="x86" />
				  </Directory>
				  <Directory Id="RESOURCEFOLDER" Name="Resources">
					  <Directory Id="LINUX" Name="Linux">
							<Directory Id="WEBSERVICE" Name="WebService" />
							<Directory Id="LIINSTALLER" Name="Installer" />
					  </Directory>
				  </Directory>
				  <Directory Id="lib" Name="lib">
				    <Directory Id="lib_alpine.3.9_x64" Name="alpine.3.9-x64">
				    </Directory>
				    <Directory Id="lib_alpine_x64" Name="alpine-x64">
				    </Directory>
				    <Directory Id="lib_debian.9_x64" Name="debian.9-x64">
				    </Directory>
				    <Directory Id="lib_debian_arm64" Name="debian-arm64">
				    </Directory>
				    <Directory Id="lib_fedora_x64" Name="fedora-x64">
				    </Directory>
				    <Directory Id="lib_linux_x64" Name="linux-x64">
				    </Directory>
				    <Directory Id="lib_osx" Name="osx">
				    </Directory>
				    <Directory Id="lib_rhel_x64" Name="rhel-x64">
				    </Directory>
				    <Directory Id="lib_ubuntu.16.04_arm64" Name="ubuntu.16.04-arm64">
				    </Directory>
				    <Directory Id="lib_ubuntu.18.04_x64" Name="ubuntu.18.04-x64">
				    </Directory>
				    <Directory Id="lib_win32" Name="win32">
				      <Directory Id="lib_win32_x64" Name="x64" />
				      <Directory Id="lib_win32_x86" Name="x86" />
				    </Directory>
				  </Directory>
				</Directory>
			</Directory>
			<Directory Id="ProgramMenuFolder">
				<Directory Id="ApplicationProgramsFolder" Name="!(bind.property.Manufacturer)" />
			</Directory>
			<!--<Directory Id="DesktopFolder" Name="Desktop">
			</Directory>-->
			<Directory Id="DesktopFolder" Name="DesktopFolder" />
		</Directory>
	</Fragment>
	
	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<!-- <Component Id="ProductComponent"> -->
				<!-- TODO: Insert files, registry keys, and other resources here. -->
			<!-- </Component> -->
			<Component Id="Logo.ico" Guid="b9ea4c05-d7a8-47d0-abeb-4c1f37105f06">
			  <File Id="Logo.ico" Name="Logo.ico" Source="$(var.DockSample_TargetDir)Logo.ico" />
			</Component>
			<Component Id="DockSample.exe" Guid="95e40708-4d40-490d-9c74-711a1c73fb4a">
			  <File Id="DockSample.exe" Name="DockSample.exe" Source="$(var.DockSample_TargetDir)DockSample.exe" />
			</Component>
			<Component Id="DockSample.exe.config" Guid="dd207586-bae6-481a-b761-1bc4bc9f2ac9">
			  <File Id="DockSample.exe.config" Name="DockSample.exe.config" Source="$(var.DockSample_TargetDir)DockSample.exe.config" />
			</Component>
			<Component Id="UIFunctionality.dll" Guid="09ae3fe8-98d4-47db-8029-5cb0343afd4f">
			  <File Id="UIFunctionality.dll" Name="UIFunctionality.dll" Source="$(var.DockSample_TargetDir)UIFunctionality.dll" />
			</Component>
			<Component Id="WeifenLuo.WinFormsUI.Docking.dll" Guid="e01e7ced-8411-4fdf-9415-fe1f9111f799">
			  <File Id="WeifenLuo.WinFormsUI.Docking.dll" Name="WeifenLuo.WinFormsUI.Docking.dll" Source="$(var.DockSample_TargetDir)WeifenLuo.WinFormsUI.Docking.dll" />
			</Component>
			<Component Id="EasyScintilla.dll" Guid="b5663dc3-88cc-495e-9dbe-1dc7be2297e8">
			  <File Id="EasyScintilla.dll" Name="EasyScintilla.dll" Source="$(var.DockSample_TargetDir)EasyScintilla.dll" />
			</Component>
			<Component Id="CefSharp.WinForms.dll" Guid="007b1683-e658-4ce7-80e1-f5bf424dcc49">
			  <File Id="CefSharp.WinForms.dll" Name="CefSharp.WinForms.dll" Source="$(var.DockSample_TargetDir)CefSharp.WinForms.dll" />
			</Component>
			<Component Id="CefSharp.dll" Guid="7ae4c659-d911-4e87-910a-0480c2fd3bd5">
			  <File Id="CefSharp.dll" Name="CefSharp.dll" Source="$(var.DockSample_TargetDir)CefSharp.dll" />
			</Component>
			<Component Id="SFTPEntities.dll" Guid="d121b064-87fd-4c4e-a9d2-200b96693b0c">
			  <File Id="SFTPEntities.dll" Name="SFTPEntities.dll" Source="$(var.DockSample_TargetDir)SFTPEntities.dll" />
			</Component>
			<Component Id="ScintillaNET.dll" Guid="0e5e7365-e3f2-4e2d-8cb7-6fec988539bf">
			  <File Id="ScintillaNET.dll" Name="ScintillaNET.dll" Source="$(var.DockSample_TargetDir)ScintillaNET.dll" />
			</Component>
			<Component Id="SharpCompress.dll" Guid="a40752da-6c6a-4ef9-9673-053c1d2b8fe8">
			  <File Id="SharpCompress.dll" Name="SharpCompress.dll" Source="$(var.DockSample_TargetDir)SharpCompress.dll" />
			</Component>
			<Component Id="System.Management.Automation.dll" Guid="a936541e-7da2-4052-a199-e44ba3786d2e">
			  <File Id="System.Management.Automation.dll" Name="System.Management.Automation.dll" Source="$(var.DockSample_TargetDir)System.Management.Automation.dll" />
			</Component>
			<Component Id="WeifenLuo.WinFormsUI.Docking.ThemeVS2015.dll" Guid="8f99a3bb-32d0-4df1-beb4-976e7f775478">
			  <File Id="WeifenLuo.WinFormsUI.Docking.ThemeVS2015.dll" Name="WeifenLuo.WinFormsUI.Docking.ThemeVS2015.dll" Source="$(var.DockSample_TargetDir)WeifenLuo.WinFormsUI.Docking.ThemeVS2015.dll" />
			</Component>
			<Component Id="FontAwesome.Sharp.dll" Guid="d059f85e-0ed7-454a-bb21-aed2d316bba5">
			  <File Id="FontAwesome.Sharp.dll" Name="FontAwesome.Sharp.dll" Source="$(var.DockSample_TargetDir)FontAwesome.Sharp.dll" />
			</Component>
			<Component Id="Npgsql.dll" Guid="8fcecb6b-cdee-4eda-855f-27196d2e9af7">
			  <File Id="Npgsql.dll" Name="Npgsql.dll" Source="$(var.DockSample_TargetDir)Npgsql.dll" />
			</Component>
			<Component Id="MySql.Data.dll" Guid="ac78acbd-e683-40a9-9ba1-2d7994c727d0">
			  <File Id="MySql.Data.dll" Name="MySql.Data.dll" Source="$(var.DockSample_TargetDir)MySql.Data.dll" />
			</Component>
			<Component Id="Renci.SshNet.dll" Guid="663593e0-0f21-4074-a54f-702d33681faf">
			  <File Id="Renci.SshNet.dll" Name="Renci.SshNet.dll" Source="$(var.DockSample_TargetDir)Renci.SshNet.dll" />
			</Component>
			<Component Id="Newtonsoft.Json.dll" Guid="cd0bc494-0408-4a22-9352-82efdfe21741">
			  <File Id="Newtonsoft.Json.dll" Name="Newtonsoft.Json.dll" Source="$(var.DockSample_TargetDir)Newtonsoft.Json.dll" />
			</Component>
			<Component Id="CefSharp.Core.dll" Guid="630b4222-f6bb-462c-aa62-fd2e717b08fb">
			  <File Id="CefSharp.Core.dll" Name="CefSharp.Core.dll" Source="$(var.DockSample_TargetDir)CefSharp.Core.dll" />
			</Component>
			<Component Id="System.Memory.dll" Guid="3b6c25c1-a260-4b1c-8d17-659e06f9497c">
			  <File Id="System.Memory.dll" Name="System.Memory.dll" Source="$(var.DockSample_TargetDir)System.Memory.dll" />
			</Component>
			<Component Id="System.Runtime.CompilerServices.Unsafe.dll" Guid="f490b87a-66ef-4ae7-9b8c-e5a8a041ebe0">
			  <File Id="System.Runtime.CompilerServices.Unsafe.dll" Name="System.Runtime.CompilerServices.Unsafe.dll" Source="$(var.DockSample_TargetDir)System.Runtime.CompilerServices.Unsafe.dll" />
			</Component>
			<Component Id="System.Buffers.dll" Guid="c3e27f75-faf7-41c0-ae33-8242406de668">
			  <File Id="System.Buffers.dll" Name="System.Buffers.dll" Source="$(var.DockSample_TargetDir)System.Buffers.dll" />
			</Component>
			<Component Id="Microsoft.Management.Infrastructure.dll" Guid="66387e8e-b9f9-4a9a-9a43-77573338dd8f">
			  <File Id="Microsoft.Management.Infrastructure.dll" Name="Microsoft.Management.Infrastructure.dll" Source="$(var.DockSample_TargetDir)Microsoft.Management.Infrastructure.dll" />
			</Component>
			<Component Id="System.ValueTuple.dll" Guid="30b1354d-6dc3-4c92-b0de-e561075fe33a">
			  <File Id="System.ValueTuple.dll" Name="System.ValueTuple.dll" Source="$(var.DockSample_TargetDir)System.ValueTuple.dll" />
			</Component>
			<Component Id="System.Threading.Tasks.Extensions.dll" Guid="579f10e2-476b-40d0-81af-67255c95ab1b">
			  <File Id="System.Threading.Tasks.Extensions.dll" Name="System.Threading.Tasks.Extensions.dll" Source="$(var.DockSample_TargetDir)System.Threading.Tasks.Extensions.dll" />
			</Component>
			<Component Id="Google.Protobuf.dll" Guid="25a413eb-f2ff-44c5-adcb-387f4fee57e5">
			  <File Id="Google.Protobuf.dll" Name="Google.Protobuf.dll" Source="$(var.DockSample_TargetDir)Google.Protobuf.dll" />
			</Component>
			<Component Id="Zstandard.Net.dll" Guid="4b75f3aa-72d9-4f5c-9239-5450c51e2e9b">
			  <File Id="Zstandard.Net.dll" Name="Zstandard.Net.dll" Source="$(var.DockSample_TargetDir)Zstandard.Net.dll" />
			</Component>
			<Component Id="K4os.Compression.LZ4.Streams.dll" Guid="3c061005-9ef5-4169-b73e-ef7a7f60a2dc">
			  <File Id="K4os.Compression.LZ4.Streams.dll" Name="K4os.Compression.LZ4.Streams.dll" Source="$(var.DockSample_TargetDir)K4os.Compression.LZ4.Streams.dll" />
			</Component>
			<Component Id="K4os.Compression.LZ4.dll" Guid="205914e6-8407-419d-b5ac-929bc4fd21fa">
			  <File Id="K4os.Compression.LZ4.dll" Name="K4os.Compression.LZ4.dll" Source="$(var.DockSample_TargetDir)K4os.Compression.LZ4.dll" />
			</Component>
			<Component Id="K4os.Hash.xxHash.dll" Guid="876c8007-1205-4c79-9e24-322825f1b931">
			  <File Id="K4os.Hash.xxHash.dll" Name="K4os.Hash.xxHash.dll" Source="$(var.DockSample_TargetDir)K4os.Hash.xxHash.dll" />
			</Component>
			<Component Id="BouncyCastle.Crypto.dll" Guid="31a78ec9-27c4-467e-aebe-9cbacc3602af">
			  <File Id="BouncyCastle.Crypto.dll" Name="BouncyCastle.Crypto.dll" Source="$(var.DockSample_TargetDir)BouncyCastle.Crypto.dll" />
			</Component>
			<Component Id="Ubiety.Dns.Core.dll" Guid="785563fa-8f3e-47a9-b7d3-d6c3096b30fb">
			  <File Id="Ubiety.Dns.Core.dll" Name="Ubiety.Dns.Core.dll" Source="$(var.DockSample_TargetDir)Ubiety.Dns.Core.dll" />
			</Component>
			<Component Id="CustomControls.exe" Guid="26ba5e21-0c0e-4e7a-802c-09becadd4f0e">
			  <File Id="CustomControls.exe" Name="CustomControls.exe" Source="$(var.DockSample_TargetDir)CustomControls.exe" />
			</Component>
			<Component Id="CustomControls.exe.config" Guid="50ed7ae0-ac74-42e7-97ec-fe25d26ada82">
			  <File Id="CustomControls.exe.config" Name="CustomControls.exe.config" Source="$(var.DockSample_TargetDir)CustomControls.exe.config" />
			</Component>
			<Component Id="unvell.ReoGridEditor.exe" Guid="a24c8f56-c753-4173-b1cd-4a88e77d0840">
			  <File Id="unvell.ReoGridEditor.exe" Name="unvell.ReoGridEditor.exe" Source="$(var.DockSample_TargetDir)unvell.ReoGridEditor.exe" />
			</Component>
			<Component Id="unvell.ReoGridEditor.exe.config" Guid="3e6f0463-417b-4ca7-af8f-0774ffb3f21b">
			  <File Id="unvell.ReoGridEditor.exe.config" Name="unvell.ReoGridEditor.exe.config" Source="$(var.DockSample_TargetDir)unvell.ReoGridEditor.exe.config" />
			</Component>
			<Component Id="unvell.ReoGrid.dll" Guid="23188a05-2851-434f-a9fe-971ee9a2c9f5">
			  <File Id="unvell.ReoGrid.dll" Name="unvell.ReoGrid.dll" Source="$(var.DockSample_TargetDir)unvell.ReoGrid.dll" />
			</Component>
			<Component Id="WindowsService.exe" Guid="bcdbc39f-b0fe-4400-b264-c8afdc35a838">
			  <File Id="WindowsService.exe" Name="WindowsService.exe" Source="$(var.DockSample_TargetDir)WindowsService.exe" />
			</Component>
			<Component Id="WindowsService.exe.config" Guid="8f01b8b4-7d9e-4a12-a1e3-49754ca70d74">
			  <File Id="WindowsService.exe.config" Name="WindowsService.exe.config" Source="$(var.DockSample_TargetDir)WindowsService.exe.config" />
			</Component>
			<Component Id="System.Windows.Forms.dll" Guid="0907e983-ef24-472d-b007-145fabed96f2">
			  <File Id="System.Windows.Forms.dll" Name="System.Windows.Forms.dll" Source="$(var.DockSample_TargetDir)System.Windows.Forms.dll" />
			</Component>
			<Component Id="System.dll" Guid="cc0bd4ee-6553-45ab-976d-210a6c1d01c2">
			  <File Id="System.dll" Name="System.dll" Source="$(var.DockSample_TargetDir)System.dll" />
			</Component>
			<Component Id="System.ServiceProcess.dll" Guid="8c80128e-aeb5-4550-9d3e-9d913b3b678d">
			  <File Id="System.ServiceProcess.dll" Name="System.ServiceProcess.dll" Source="$(var.DockSample_TargetDir)System.ServiceProcess.dll" />
			</Component>
			<Component Id="System.Xml.dll" Guid="847b320b-c2ac-49af-a29b-e5cf0d866065">
			  <File Id="System.Xml.dll" Name="System.Xml.dll" Source="$(var.DockSample_TargetDir)System.Xml.dll" />
			</Component>
			<Component Id="System.Configuration.Install.dll" Guid="5379482a-2cec-4fae-9d25-ba93de906ed8">
			  <File Id="System.Configuration.Install.dll" Name="System.Configuration.Install.dll" Source="$(var.DockSample_TargetDir)System.Configuration.Install.dll" />
			</Component>
			
			
			<Component Id="icudtl.dat" Guid="fc62d186-e864-11ea-adc1-0242ac120002">
				<File Id="icudtl.dat" Name="icudtl.dat" Source="$(var.DockSample_TargetDir)icudtl.dat" />
			</Component>
			<Component Id="libcef.dll" Guid="044644be-e865-11ea-adc1-0242ac120002">
				<File Id="libcef.dll" Name="libcef.dll" Source="$(var.DockSample_TargetDir)libcef.dll" />
			</Component>
			<Component Id="CefSharp.BrowserSubprocess.exe" Guid="5edbb2ea-e86c-11ea-adc1-0242ac120002">
				<File Id="CefSharp.BrowserSubprocess.exe" Name="CefSharp.BrowserSubprocess.exe" Source="$(var.DockSample_TargetDir)CefSharp.BrowserSubprocess.exe" />
			</Component>
			<Component Id="CefSharp.BrowserSubprocess.Core.dll" Guid="663eac9a-e86c-11ea-adc1-0242ac120002">
				<File Id="CefSharp.BrowserSubprocess.Core.dll" Name="CefSharp.BrowserSubprocess.Core.dll" Source="$(var.DockSample_TargetDir)CefSharp.BrowserSubprocess.Core.dll" />
			</Component>
			<Component Id="chrome_elf.dll" Guid="6d4082f2-e86c-11ea-adc1-0242ac120002">
				<File Id="chrome_elf.dll" Name="chrome_elf.dll" Source="$(var.DockSample_TargetDir)chrome_elf.dll" />
			</Component>
			<Component Id="snapshot_blob.bin" Guid="7a2af114-e86c-11ea-adc1-0242ac120002">
				<File Id="snapshot_blob.bin" Name="snapshot_blob.bin" Source="$(var.DockSample_TargetDir)snapshot_blob.bin" />
			</Component>
			<Component Id="v8_context_snapshot.bin" Guid="810726e2-e86c-11ea-adc1-0242ac120002">
				<File Id="v8_context_snapshot.bin" Name="v8_context_snapshot.bin" Source="$(var.DockSample_TargetDir)v8_context_snapshot.bin" />
			</Component>
			<Component Id="natives_blob.bin" Guid="eeac6740-e86f-11ea-adc1-0242ac120002">
				<File Id="natives_blob.bin" Name="natives_blob.bin" Source="$(var.DockSample_TargetDir)natives_blob.bin" />
			</Component>
			

			<Component Id="cef.pak" Guid="c1a92d06-e86e-11ea-adc1-0242ac120002">
				<File Id="cef.pak" Name="cef.pak" Source="$(var.DockSample_TargetDir)cef.pak" />
			</Component>
			<Component Id="cef_100_percent.pak" Guid="d5312e46-e86e-11ea-adc1-0242ac120002">
				<File Id="cef_100_percent.pak" Name="cef_100_percent.pak" Source="$(var.DockSample_TargetDir)cef_100_percent.pak" />
			</Component>
			<Component Id="cef_200_percent.pak" Guid="dcdff87a-e86e-11ea-adc1-0242ac120002">
				<File Id="cef_200_percent.pak" Name="cef_200_percent.pak" Source="$(var.DockSample_TargetDir)cef_200_percent.pak" />
			</Component>
			<Component Id="cef_extensions.pak" Guid="e2d7dd4c-e86e-11ea-adc1-0242ac120002">
				<File Id="cef_extensions.pak" Name="cef_extensions.pak" Source="$(var.DockSample_TargetDir)cef_extensions.pak" />
			</Component>
			<Component Id="devtools_resources.pak" Guid="e8d94992-e86e-11ea-adc1-0242ac120002">
				<File Id="devtools_resources.pak" Name="devtools_resources.pak" Source="$(var.DockSample_TargetDir)devtools_resources.pak" />
			</Component>
			<Component Id="d3dcompiler_47.dll" Guid="ef5a9aaa-e86e-11ea-adc1-0242ac120002">
				<File Id="d3dcompiler_47.dll" Name="d3dcompiler_47.dll" Source="$(var.DockSample_TargetDir)d3dcompiler_47.dll" />
			</Component>
			
			<Component Id="libGLESv2.dll" Guid="fbf0bba0-e86e-11ea-adc1-0242ac120002">
				<File Id="libGLESv2.dll" Name="libGLESv2.dll" Source="$(var.DockSample_TargetDir)libGLESv2.dll" />
			</Component>
			<Component Id="LibGit2Sharp.dll" Guid="2011894b-3033-48fc-9e75-6bc5ba4301a7">
			  <File Id="LibGit2Sharp.dll" Name="LibGit2Sharp.dll" Source="$(var.DockSample_TargetDir)LibGit2Sharp.dll" />
			</Component>
			<Component Id="System.Management.dll" Guid="8d11426c-c67e-4672-b8c5-c68377400fcd">
			  <File Id="System.Management.dll" Name="System.Management.dll" Source="$(var.DockSample_TargetDir)System.Management.dll" />
			</Component>
			<Component Id="System.Transactions.dll" Guid="7bc45aa3-65da-493f-9906-cf9772921d13">
			  <File Id="System.Transactions.dll" Name="System.Transactions.dll" Source="$(var.DockSample_TargetDir)System.Transactions.dll" />
			</Component>
			<Component Id="LibGit2Sharp.dll.config" Guid="c3416346-4778-42a5-87a2-1a35e5021f55">
			  <File Id="LibGit2Sharp.dll.config" Name="LibGit2Sharp.dll.config" Source="$(var.DockSample_TargetDir)LibGit2Sharp.dll.config" />
			</Component>

		</ComponentGroup>
	</Fragment>
	
	<Fragment>
	  <ComponentGroup Id="Images_files" Directory="Images">
	    <Component Id="Images_Logo.ico" Guid="dfd72d97-ebc7-4450-a634-a042ad1754af">
	      <File Id="Images_Logo.ico" Name="Logo.ico" Source="$(var.DockSample_TargetDir)Images\Logo.ico" />
	    </Component>
	    <Component Id="Images_SplashScreen.png" Guid="6bc41656-e2e9-42ce-ad80-2b30ce9304f7">
	      <File Id="Images_SplashScreen.png" Name="SplashScreen.png" Source="$(var.DockSample_TargetDir)Images\SplashScreen.png" />
	    </Component>
	  </ComponentGroup>
	</Fragment>

	<Fragment>
    <ComponentGroup Id="zh_CN_files" Directory="zh_CN">
      <Component Id="zh_CN_unvell.ReoGridEditor.resources.dll" Guid="ae60d1b4-b140-472e-8154-b3dbedd63b62">
        <File Id="zh_CN_unvell.ReoGridEditor.resources.dll" Name="unvell.ReoGridEditor.resources.dll" Source="$(var.DockSample_TargetDir)zh-CN\unvell.ReoGridEditor.resources.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>

	<Fragment>
		<ComponentGroup Id="AppData_files" Directory="AppData">
			<Component Id="AppData_spark.tgz" Guid="ddf1cc40-773b-420f-8780-3e8068b14619">
				<File Id="AppData_spark.tgz" Name="spark.tgz" Source="$(var.DockSample_TargetDir)AppData\spark.tgz" />
			</Component>
			<Component Id="AppData_winutils.zip" Guid="89a28530-3046-4b2a-b4a5-064b8cc7781b">
				<File Id="AppData_winutils.zip" Name="winutils.zip" Source="$(var.DockSample_TargetDir)AppData\winutils.zip" />
			</Component>
		</ComponentGroup>
	</Fragment>

	<Fragment>
    <ComponentGroup Id="ja_JP_files" Directory="ja_JP">
      <Component Id="ja_JP_unvell.ReoGridEditor.resources.dll" Guid="ef3cd580-51b9-4783-8e83-7ce57f69b1c2">
        <File Id="ja_JP_unvell.ReoGridEditor.resources.dll" Name="unvell.ReoGridEditor.resources.dll" Source="$(var.DockSample_TargetDir)ja-JP\unvell.ReoGridEditor.resources.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>

	<Fragment>
    <ComponentGroup Id="ru_RU_files" Directory="ru_RU">
      <Component Id="ru_RU_unvell.ReoGridEditor.resources.dll" Guid="dac7ca19-9398-4460-b5f7-e4a4ae9f70a3">
        <File Id="ru_RU_unvell.ReoGridEditor.resources.dll" Name="unvell.ReoGridEditor.resources.dll" Source="$(var.DockSample_TargetDir)ru-RU\unvell.ReoGridEditor.resources.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>
	
	<Fragment>
    <ComponentGroup Id="swiftshader_files" Directory="swiftshader">
      <Component Id="swiftshader_libEGL.dll" Guid="ac58f2fa-19c0-11eb-adc1-0242ac120002">
        <File Id="swiftshader_libEGL.dll" Name="libEGL.dll" Source="$(var.DockSample_TargetDir)swiftshader\libEGL.dll" />
      </Component>
	  <Component Id="swiftshader_libGLESv2.dll" Guid="b2842852-19c0-11eb-adc1-0242ac120002">
        <File Id="swiftshader_libGLESv2.dll" Name="libGLESv2.dll" Source="$(var.DockSample_TargetDir)swiftshader\libGLESv2.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>
	
  <!--<Fragment>
    <ComponentGroup Id="amd64_files" Directory="amd64">
		<Component Id="amd_git_comp.dll" Guid="a041761c-19c1-11eb-adc1-0242ac120002">
			<File Id="amd_git.dll" Name="git2-e0902fb.dll" Source="$(var.DockSample_TargetDir)NativeBinaries\amd64\git2-e0902fb.dll" />
		</Component>
    </ComponentGroup>
   </Fragment>
	<Fragment>
		<ComponentGroup Id="x86_files" Directory="x86">
			<Component Id="x_git_com.dll" Guid="a5bbdb8c-19c1-11eb-adc1-0242ac120002">
				<File Id="x_git.dll" Name="git2-e0902fb.dll" Source="$(var.DockSample_TargetDir)NativeBinaries\x86\git2-e0902fb.dll" />
			</Component>
		</ComponentGroup>
	</Fragment>-->

	<Fragment>
		<Binary Id="CustomActionBinary" SourceFile="$(var.KockpitStudioCustomAction.TargetDir)$(var.KockpitStudioCustomAction.TargetName).CA.dll" />
		<CustomAction Id="RunPreviledgeCustomAction" BinaryKey="CustomActionBinary" DllEntry="CustomAction1" Execute="immediate" Return="check" />
		<CustomAction Id="PackageInstallCustomAction" BinaryKey="CustomActionBinary" DllEntry="CustomAction2" Execute="immediate" Return="check" />
		<!--<CustomAction Id="GetMachineCustomAction" BinaryKey="CustomActionBinary" DllEntry="CustomAction3" Execute="immediate" Return="check" />-->
	</Fragment>

	<Fragment>
    <!--Desktop Shortcut-->
    <ComponentGroup Id="ComponentGroupDesktopShortcut">
      <Component Id="ComponentDesktopShortcut" Guid="*" Directory="DesktopFolder">
        <Shortcut Id="AppDesktopShortcut" Name="Kockpit Studio" Description="Kockpit Studio Application" Directory="DesktopFolder" Target="[INSTALLFOLDER]DockSample.exe" WorkingDirectory="INSTALLFOLDER" Icon="ShortCutIcon" />
        <!--Remove desktop shortcut on uninstall-->
        <RemoveFolder Id="DesktopFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\Kockpit Analytics\Kockpit Studio" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </ComponentGroup>
</Fragment>
	
	<Fragment>
		<ComponentGroup Id="WebResourceComponents" Directory="WEBSERVICE">
			<Component Id="webappsettings.Development.json" Guid="ca4e3a2c-2869-4849-a8d7-00c70d5e416b"><File Id="appsettings.Development.json" Name="appsettings.Development.json" Source="$(var.KockpitWebService_TargetDir)appsettings.Development.json" /></Component>
			<Component Id="webappsettings.json" Guid="cfa94f53-a350-4cb0-b295-e74b751fdf68"><File Id="webappsettings.json" Name="appsettings.json" Source="$(var.KockpitWebService_TargetDir)appsettings.json" /></Component>
			<Component Id="webKockpitWebService.deps.json" Guid="6a914078-ab4d-4e3d-804d-3008aff090f4"><File Id="KockpitWebService.deps.json" Name="KockpitWebService.deps.json" Source="$(var.KockpitWebService_TargetDir)KockpitWebService.deps.json" /></Component>
			<Component Id="webKockpitWebService.dll" Guid="65df20e3-fe88-405f-ad7b-200e3fccc3cd"><File Id="KockpitWebService.dll" Name="KockpitWebService.dll" Source="$(var.KockpitWebService_TargetDir)KockpitWebService.dll" /></Component>
			<Component Id="webKockpitWebService.exe" Guid="bd3dd279-4a92-4f34-9e72-08cbd273ad24"><File Id="KockpitWebService.exe" Name="KockpitWebService.exe" Source="$(var.KockpitWebService_TargetDir)KockpitWebService.exe" /></Component>
			<Component Id="webKockpitWebService.pdb" Guid="1ed796a1-3352-483d-97a4-7487f66af002"><File Id="KockpitWebService.pdb" Name="KockpitWebService.pdb" Source="$(var.KockpitWebService_TargetDir)KockpitWebService.pdb" /></Component>
			<Component Id="webKockpitWebService.runtimeconfig.dev.json" Guid="c70a9b12-7031-4343-bbec-2d9fbdbf51d6"><File Id="KockpitWebService.runtimeconfig.dev.json" Name="KockpitWebService.runtimeconfig.dev.json" Source="$(var.KockpitWebService_TargetDir)KockpitWebService.runtimeconfig.dev.json" /></Component>
			<Component Id="webKockpitWebService.runtimeconfig.json" Guid="1e4c3188-9b1b-4b89-9228-86ac90438c35"><File Id="KockpitWebService.runtimeconfig.json" Name="KockpitWebService.runtimeconfig.json" Source="$(var.KockpitWebService_TargetDir)KockpitWebService.runtimeconfig.json" /></Component>
			<Component Id="webNewtonsoft.Json.Bson.dll" Guid="1d69d23b-b3ee-4052-b5dc-b768b7add9ca"><File Id="Newtonsoft.Json.Bson.dll" Name="Newtonsoft.Json.Bson.dll" Source="$(var.KockpitWebService_TargetDir)Newtonsoft.Json.Bson.dll" /></Component>
			<Component Id="webNewtonsoft.Json.dll" Guid="d4566fcc-bcf4-4752-8ae2-92e6e0e5d256"><File Id="webNewtonsoft.Json.dll" Name="Newtonsoft.Json.dll" Source="$(var.KockpitWebService_TargetDir)Newtonsoft.Json.dll" /></Component>
			<Component Id="webSFTPBusinessLayer.dll" Guid="090a2036-1d7c-40f1-bef4-ab83f594a6b5"><File Id="SFTPBusinessLayer.dll" Name="SFTPBusinessLayer.dll" Source="$(var.KockpitWebService_TargetDir)SFTPBusinessLayer.dll" /></Component>
			<Component Id="webSFTPBusinessLayer.pdb" Guid="1f277b9d-2705-405a-bb2a-c5598caa005f"><File Id="SFTPBusinessLayer.pdb" Name="SFTPBusinessLayer.pdb" Source="$(var.KockpitWebService_TargetDir)SFTPBusinessLayer.pdb" /></Component>
			<Component Id="webSFTPEntities.dll" Guid="f2587f2b-0dc8-486e-825a-a7f5dd30f6ec"><File Id="webSFTPEntities.dll" Name="SFTPEntities.dll" Source="$(var.KockpitWebService_TargetDir)SFTPEntities.dll" /></Component>
			<Component Id="webSFTPEntities.pdb" Guid="aa0b095e-f519-4e97-bdff-33f5f7f64340"><File Id="SFTPEntities.pdb" Name="SFTPEntities.pdb" Source="$(var.KockpitWebService_TargetDir)SFTPEntities.pdb" /></Component>
			<Component Id="webSystem.Net.Http.Formatting.dll" Guid="a9f8e1f3-e3b6-4381-be78-441c6f7dbfd1"><File Id="System.Net.Http.Formatting.dll" Name="System.Net.Http.Formatting.dll" Source="$(var.KockpitWebService_TargetDir)System.Net.Http.Formatting.dll" /></Component>
			<Component Id="webSystem.Web.Http.dll" Guid="7335c096-ccb2-4719-9f24-c40e49e1377f"><File Id="System.Web.Http.dll" Name="System.Web.Http.dll" Source="$(var.KockpitWebService_TargetDir)System.Web.Http.dll" /></Component>
		</ComponentGroup>
	</Fragment>
	
	<Fragment>
		<ComponentGroup Id="LinResourceComponents" Directory="LIINSTALLER">
			<Component Id="linappsettings.json" Guid="bcd2f2f2-066a-4437-87da-38ec05514f0c"><File Id="appsettings.json" Name="appsettings.json" Source="$(var.LinuxInstaller_TargetDir)appsettings.json" /></Component>
			<Component Id="linLinuxInstaller.deps.json" Guid="675f701e-1134-4447-9ae7-5376f853b5ca"><File Id="LinuxInstaller.deps.json" Name="LinuxInstaller.deps.json" Source="$(var.LinuxInstaller_TargetDir)LinuxInstaller.deps.json" /></Component>
			<Component Id="linLinuxInstaller.dll" Guid="653105a8-2ba8-4272-9b7c-373edd6ca631"><File Id="LinuxInstaller.dll" Name="LinuxInstaller.dll" Source="$(var.LinuxInstaller_TargetDir)LinuxInstaller.dll" /></Component>
			<Component Id="linLinuxInstaller.exe" Guid="f52c75ed-3c7d-4bd0-8920-5fbfe55412e7"><File Id="LinuxInstaller.exe" Name="LinuxInstaller.exe" Source="$(var.LinuxInstaller_TargetDir)LinuxInstaller.exe" /></Component>
			<Component Id="linLinuxInstaller.pdb" Guid="ffc456ae-79cb-49e7-bd07-d5cf164fe21b"><File Id="LinuxInstaller.pdb" Name="LinuxInstaller.pdb" Source="$(var.LinuxInstaller_TargetDir)LinuxInstaller.pdb" /></Component>
			<Component Id="linLinuxInstaller.runtimeconfig.dev.json" Guid="66cf20e1-8f77-43a6-b519-19e4679cf783"><File Id="LinuxInstaller.runtimeconfig.dev.json" Name="LinuxInstaller.runtimeconfig.dev.json" Source="$(var.LinuxInstaller_TargetDir)LinuxInstaller.runtimeconfig.dev.json" /></Component>
			<Component Id="linLinuxInstaller.runtimeconfig.json" Guid="d785a379-db6f-4940-80ba-af63af8cef73"><File Id="LinuxInstaller.runtimeconfig.json" Name="LinuxInstaller.runtimeconfig.json" Source="$(var.LinuxInstaller_TargetDir)LinuxInstaller.runtimeconfig.json" /></Component>
			<Component Id="linMicrosoft.Extensions.Configuration.Abstractions.dll" Guid="c046c3e5-8a8f-484a-8a45-273d13b2ccdd"><File Id="Microsoft.Extensions.Configuration.Abstractions.dll" Name="Microsoft.Extensions.Configuration.Abstractions.dll" Source="$(var.LinuxInstaller_TargetDir)Microsoft.Extensions.Configuration.Abstractions.dll" /></Component>
			<Component Id="linMicrosoft.Extensions.Configuration.Binder.dll" Guid="f3e6eba6-4061-4dd2-a118-1ab862175b4f"><File Id="Microsoft.Extensions.Configuration.Binder.dll" Name="Microsoft.Extensions.Configuration.Binder.dll" Source="$(var.LinuxInstaller_TargetDir)Microsoft.Extensions.Configuration.Binder.dll" /></Component>
			<Component Id="linMicrosoft.Extensions.Configuration.CommandLine.dll" Guid="cea8294e-2a2d-4f4c-b642-e1e7fa9414f2"><File Id="Microsoft.Extensions.Configuration.CommandLine.dll" Name="Microsoft.Extensions.Configuration.CommandLine.dll" Source="$(var.LinuxInstaller_TargetDir)Microsoft.Extensions.Configuration.CommandLine.dll" /></Component>
			<Component Id="linMicrosoft.Extensions.Configuration.dll" Guid="5f4692e3-198e-4872-923e-986792edd0d1"><File Id="Microsoft.Extensions.Configuration.dll" Name="Microsoft.Extensions.Configuration.dll" Source="$(var.LinuxInstaller_TargetDir)Microsoft.Extensions.Configuration.dll" /></Component>
			<Component Id="linMicrosoft.Extensions.Configuration.EnvironmentVariables.dll" Guid="cc40fb87-4fc8-424e-82b8-6ba7adf0fdc8"><File Id="Microsoft.Extensions.Configuration.EnvironmentVariables.dll" Name="Microsoft.Extensions.Configuration.EnvironmentVariables.dll" Source="$(var.LinuxInstaller_TargetDir)Microsoft.Extensions.Configuration.EnvironmentVariables.dll" /></Component>
			<Component Id="linMicrosoft.Extensions.Configuration.FileExtensions.dll" Guid="6357878f-2894-4941-95d7-f03a23999698"><File Id="Microsoft.Extensions.Configuration.FileExtensions.dll" Name="Microsoft.Extensions.Configuration.FileExtensions.dll" Source="$(var.LinuxInstaller_TargetDir)Microsoft.Extensions.Configuration.FileExtensions.dll" /></Component>
			<Component Id="linMicrosoft.Extensions.Configuration.Json.dll" Guid="fe3ba10e-a198-46c0-b522-6115b0431443"><File Id="Microsoft.Extensions.Configuration.Json.dll" Name="Microsoft.Extensions.Configuration.Json.dll" Source="$(var.LinuxInstaller_TargetDir)Microsoft.Extensions.Configuration.Json.dll" /></Component>
			<Component Id="linMicrosoft.Extensions.FileProviders.Abstractions.dll" Guid="03eb3541-c79d-4635-bdf4-75d6e38d5b69"><File Id="Microsoft.Extensions.FileProviders.Abstractions.dll" Name="Microsoft.Extensions.FileProviders.Abstractions.dll" Source="$(var.LinuxInstaller_TargetDir)Microsoft.Extensions.FileProviders.Abstractions.dll" /></Component>
			<Component Id="linMicrosoft.Extensions.FileProviders.Physical.dll" Guid="68809d83-d251-4c5f-973e-df28713cfa09"><File Id="Microsoft.Extensions.FileProviders.Physical.dll" Name="Microsoft.Extensions.FileProviders.Physical.dll" Source="$(var.LinuxInstaller_TargetDir)Microsoft.Extensions.FileProviders.Physical.dll" /></Component>
			<Component Id="linMicrosoft.Extensions.FileSystemGlobbing.dll" Guid="fe74e4ba-a6d8-49ae-a3ba-853464309ded"><File Id="Microsoft.Extensions.FileSystemGlobbing.dll" Name="Microsoft.Extensions.FileSystemGlobbing.dll" Source="$(var.LinuxInstaller_TargetDir)Microsoft.Extensions.FileSystemGlobbing.dll" /></Component>
			<Component Id="linMicrosoft.Extensions.Primitives.dll" Guid="beff3241-d00c-4e69-928a-eb044bdc1bdf"><File Id="Microsoft.Extensions.Primitives.dll" Name="Microsoft.Extensions.Primitives.dll" Source="$(var.LinuxInstaller_TargetDir)Microsoft.Extensions.Primitives.dll" /></Component>
			<Component Id="linNewtonsoft.Json.dll" Guid="0c0313f1-88a9-4ae6-be9a-0fa5c9b7142b"><File Id="linNewtonsoft.Json.dll" Name="Newtonsoft.Json.dll" Source="$(var.LinuxInstaller_TargetDir)Newtonsoft.Json.dll" /></Component>
			<Component Id="linupdatePath.sh" Guid="3b50f408-b428-4cfe-a4a5-9e26b4403885"><File Id="linupdatePath.sh" Name="updatePath.sh" Source="$(var.LinuxInstaller_TargetDir)updatePath.sh" /></Component>
		</ComponentGroup>
	</Fragment>
	
	<Fragment>
	  <ComponentGroup Id="lib_win32_x86_files" Directory="lib_win32_x86">
	    <Component Id="lib_win32_x86_git2_106a5f2.dll" Guid="d21dc829-10a6-4181-bb55-d157581150ff">
	      <File Id="lib_win32_x86_git2_106a5f2.dll" Name="git2-106a5f2.dll" Source="$(var.DockSample_TargetDir)lib\win32\x86\git2-106a5f2.dll" />
	    </Component>
	    <Component Id="lib_win32_x86_git2_106a5f2.pdb" Guid="9ad97d2a-6d14-4199-b9b2-6bee1a02d991">
	      <File Id="lib_win32_x86_git2_106a5f2.pdb" Name="git2-106a5f2.pdb" Source="$(var.DockSample_TargetDir)lib\win32\x86\git2-106a5f2.pdb" />
	    </Component>
	  </ComponentGroup>
	</Fragment>
	<Fragment>
	  <ComponentGroup Id="lib_win32_x64_files" Directory="lib_win32_x64">
	    <Component Id="lib_win32_x64_git2_106a5f2.dll" Guid="73d88644-4016-4724-9920-bc492329c5bd">
	      <File Id="lib_win32_x64_git2_106a5f2.dll" Name="git2-106a5f2.dll" Source="$(var.DockSample_TargetDir)lib\win32\x64\git2-106a5f2.dll" />
	    </Component>
	    <Component Id="lib_win32_x64_git2_106a5f2.pdb" Guid="f65a4a8c-913d-4315-a7bd-299efcec42c8">
	      <File Id="lib_win32_x64_git2_106a5f2.pdb" Name="git2-106a5f2.pdb" Source="$(var.DockSample_TargetDir)lib\win32\x64\git2-106a5f2.pdb" />
	    </Component>
	  </ComponentGroup>
	</Fragment>
	<Fragment>
	  <ComponentGroup Id="lib_alpine_x64_files" Directory="lib_alpine_x64">
	    <Component Id="lib_alpine_x64_libgit2_106a5f2.so" Guid="81dde05e-7552-47c1-a5a7-76c469ed71e2">
	      <File Id="lib_alpine_x64_libgit2_106a5f2.so" Name="libgit2-106a5f2.so" Source="$(var.DockSample_TargetDir)lib\alpine-x64\libgit2-106a5f2.so" />
	    </Component>
	  </ComponentGroup>
	</Fragment>
	<Fragment>
	  <ComponentGroup Id="lib_alpine.3.9_x64_files" Directory="lib_alpine.3.9_x64">
	    <Component Id="lib_alpine.3.9_x64_libgit2_106a5f2.so" Guid="fc994dae-3fc7-46af-addd-015875413945">
	      <File Id="lib_alpine.3.9_x64_libgit2_106a5f2.so" Name="libgit2-106a5f2.so" Source="$(var.DockSample_TargetDir)lib\alpine.3.9-x64\libgit2-106a5f2.so" />
	    </Component>
	  </ComponentGroup>
	</Fragment>
	<Fragment>
	  <ComponentGroup Id="lib_debian_arm64_files" Directory="lib_debian_arm64">
	    <Component Id="lib_debian_arm64_libgit2_106a5f2.so" Guid="6fa4d801-d59b-4411-ba2c-a2b54520c03f">
	      <File Id="lib_debian_arm64_libgit2_106a5f2.so" Name="libgit2-106a5f2.so" Source="$(var.DockSample_TargetDir)lib\debian-arm64\libgit2-106a5f2.so" />
	    </Component>
	  </ComponentGroup>
	</Fragment>
	<Fragment>
	  <ComponentGroup Id="lib_debian.9_x64_files" Directory="lib_debian.9_x64">
	    <Component Id="lib_debian.9_x64_libgit2_106a5f2.so" Guid="6f7d9c39-400c-49c2-bfca-0d6eb7beeb2e">
	      <File Id="lib_debian.9_x64_libgit2_106a5f2.so" Name="libgit2-106a5f2.so" Source="$(var.DockSample_TargetDir)lib\debian.9-x64\libgit2-106a5f2.so" />
	    </Component>
	  </ComponentGroup>
	</Fragment>
	<Fragment>
	  <ComponentGroup Id="lib_fedora_x64_files" Directory="lib_fedora_x64">
	    <Component Id="lib_fedora_x64_libgit2_106a5f2.so" Guid="338438ee-65c9-43de-9857-b3df44352108">
	      <File Id="lib_fedora_x64_libgit2_106a5f2.so" Name="libgit2-106a5f2.so" Source="$(var.DockSample_TargetDir)lib\fedora-x64\libgit2-106a5f2.so" />
	    </Component>
	  </ComponentGroup>
	</Fragment>
	<Fragment>
	  <ComponentGroup Id="lib_linux_x64_files" Directory="lib_linux_x64">
	    <Component Id="lib_linux_x64_libgit2_106a5f2.so" Guid="7819db54-43b0-4e93-9421-ff0839871692">
	      <File Id="lib_linux_x64_libgit2_106a5f2.so" Name="libgit2-106a5f2.so" Source="$(var.DockSample_TargetDir)lib\linux-x64\libgit2-106a5f2.so" />
	    </Component>
	  </ComponentGroup>
	</Fragment>
	<Fragment>
	  <ComponentGroup Id="lib_osx_files" Directory="lib_osx">
	    <Component Id="lib_osx_libgit2_106a5f2.dylib" Guid="d0e32bb4-f6ed-4504-a8bd-e81525e4810d">
	      <File Id="lib_osx_libgit2_106a5f2.dylib" Name="libgit2-106a5f2.dylib" Source="$(var.DockSample_TargetDir)lib\osx\libgit2-106a5f2.dylib" />
	    </Component>
	  </ComponentGroup>
	</Fragment>
	<Fragment>
	  <ComponentGroup Id="lib_rhel_x64_files" Directory="lib_rhel_x64">
	    <Component Id="lib_rhel_x64_libgit2_106a5f2.so" Guid="26d15b6c-4efa-41b4-b7d1-f92c6aaaaa33">
	      <File Id="lib_rhel_x64_libgit2_106a5f2.so" Name="libgit2-106a5f2.so" Source="$(var.DockSample_TargetDir)lib\rhel-x64\libgit2-106a5f2.so" />
	    </Component>
	  </ComponentGroup>
	</Fragment>
	<Fragment>
	  <ComponentGroup Id="lib_ubuntu.16.04_arm64_files" Directory="lib_ubuntu.16.04_arm64">
	    <Component Id="lib_ubuntu.16.04_arm64_libgit2_106a5f2.so" Guid="bbf6b44b-4ff6-4198-b409-d9b707b4bf30">
	      <File Id="lib_ubuntu.16.04_arm64_libgit2_106a5f2.so" Name="libgit2-106a5f2.so" Source="$(var.DockSample_TargetDir)lib\ubuntu.16.04-arm64\libgit2-106a5f2.so" />
	    </Component>
	  </ComponentGroup>
	</Fragment>
	<Fragment>
	  <ComponentGroup Id="lib_ubuntu.18.04_x64_files" Directory="lib_ubuntu.18.04_x64">
	    <Component Id="lib_ubuntu.18.04_x64_libgit2_106a5f2.so" Guid="20095579-cb3b-4d28-8c79-20a389b5f720">
	      <File Id="lib_ubuntu.18.04_x64_libgit2_106a5f2.so" Name="libgit2-106a5f2.so" Source="$(var.DockSample_TargetDir)lib\ubuntu.18.04-x64\libgit2-106a5f2.so" />
	    </Component>
	  </ComponentGroup>
	</Fragment>
</Wix>
