<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="MailPackages" type="WindowsService.MailPackageValuesSection,WindowsService" requirePermission="false" />
	</configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
	<MailPackages>
		<Values>
			<add type="Sender" email="mahesh.singh@kockpit.in" password="*******" port="587" host="smtp.gmail.com" enableSsl="true" />
			<add type="Receiver" email="m.maheshsingh555@gmail.com" />
			<add type="Receiver" email="zorder.mahesh@gmail.com" />
		</Values>
	</MailPackages>
</configuration>
